In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'], 
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'], 
                    'Cost':[10000, 5000, 15000, 2000]}) 
  
df

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3    13/2/11   Comedy   2000

### filter data based on multiple conditions

In [8]:
df[(df.Event=='Music') | (df.Cost==5000)]

        Date   Event   Cost
0  10/2/2011   Music  10000
1  11/2/2011  Poetry   5000

### iterrows()

In [8]:
li=[]
for index,series in df.iterrows():
    li.append([series.Date,series.Event,series.Cost])
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/11', 'Comedy', 2000]]

### itertuples()

In [10]:
li=[]
for i in df.itertuples():
    li.append([getattr(i,'Date'),getattr(i,'Event'),getattr(i,'Cost')])
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/11', 'Comedy', 2000]]

In [11]:
li=[]
for i in df.itertuples():
    li.append([i.Date,i.Event,i.Cost])
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/11', 'Comedy', 2000]]

### df.iloc[]

In [18]:
li=[]
for i in range(df.shape[0]):
    li.append(list(df.iloc[i,:]))
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/11', 'Comedy', 2000]]

In [15]:
li=[]
for i in range(df.shape[0]):
    li2=[]
    for j in range(df.shape[1]):
        li2.append(df.iloc[i,j])
    li.append(li2)    
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/11', 'Comedy', 2000]]

### df.iat[]

In [16]:
li=[]
for i in range(df.shape[0]):
    li2=[]
    for j in range(df.shape[1]):
        li2.append(df.iat[i,j])
    li.append(li2)    
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/11', 'Comedy', 2000]]

### df.loc[]

In [20]:
li=[]
for i in range(df.shape[0]):
    li.append(list(df.loc[i,:]))
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/11', 'Comedy', 2000]]