In [2]:
import pandas as pd

## df.drop_duplicates(inplace=False,keep='first',ignore_index=False,subset=False)

#### inplace=false--->don't do change in original df

### keep
first--->keep first occurence of duplicate row drop rest
last---->keep last occurence of duplicate row drop rest
false--->drop all rows that are duplicate

### ignore_index
false-->don't reset the index
true--->reset index to 0,1,2,3

### subset-->Only consider certain columns for identifying duplicates, by default use all of the columns.

In [3]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

### By default, it removes duplicate rows based on all columns,ignore_index=False,keep='first'

In [4]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

### To remove duplicates on specific column(s), use subset.

In [5]:
df.drop_duplicates(subset=['brand'])

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

### To remove duplicates and keep last occurrences, use keep.

In [6]:
df.drop_duplicates(subset=['brand', 'style'], keep='last')

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0

### to reset index to 0,1,2,...n-1

In [7]:
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [8]:
df.drop_duplicates(ignore_index=True)

     brand style  rating
0  Yum Yum   cup     4.0
1  Indomie   cup     3.5
2  Indomie  pack    15.0
3  Indomie  pack     5.0