In [2]:
import pandas as pd
import numpy as np
 
# data of 2018 drivers world championship
dict1 = {'Driver': ['Hamilton', 'Vettel', 'Raikkonen',
                    'Verstappen', 'Bottas', 'Ricciardo',
                    'Hulkenberg', 'Perez', 'Magnussen',
                    'Sainz', 'Alonso', 'Ocon', 'Leclerc',
                    'Grosjean', 'Gasly', 'Vandoorne',
                    'Ericsson', 'Stroll', 'Hartley', 'Sirotkin'],
 
         'Points': [408, 320, 251, 249, 247, 170, 69, 62, 56,
                    53, 50, 49, 39, 37, 29, 12, 9, 6, 4, 1],
 
         'Age': [33, 31, 39, 21, 29, 29, 31, 28, 26, 24, 37,
                 22, 21, 32, 22, 26, 28, 20, 29, 23]}
 
# creating dataframe using DataFrame constructor
df = pd.DataFrame(dict1)
df.head(10)

       Driver  Points  Age
0    Hamilton     408   33
1      Vettel     320   31
2   Raikkonen     251   39
3  Verstappen     249   21
4      Bottas     247   29
5   Ricciardo     170   29
6  Hulkenberg      69   31
7       Perez      62   28
8   Magnussen      56   26
9       Sainz      53   24

### Select row with maximum value in Pandas Dataframe

#### Shows max on Driver, Points, and Age columns.

In [3]:
df.max()

Driver    Vettel
Points       408
Age           39
dtype: object

#### Who scored max points

In [7]:
df[df.Points==df.Points.max()]

     Driver  Points  Age
0  Hamilton     408   33

#### WHO has the maximum age

In [8]:
df[df.Age==df.Age.max()]

      Driver  Points  Age
2  Raikkonen     251   39

#### What is the maximum age

In [9]:
df.Age.max()

39

#### Which row has maximum age in the Dataframe | who is the oldest driver?

In [10]:
df[df.Age==df.Age.max()]

      Driver  Points  Age
2  Raikkonen     251   39

### Select row with minimum value in Pandas Dataframe

#### Shows min on Driver, Points, Age columns.

In [11]:
df.min()

Driver    Alonso
Points         1
Age           20
dtype: object

#### Who scored fewer points

In [12]:
df[df.Points==df.Points.min()]

      Driver  Points  Age
19  Sirotkin       1   23

#### Which row has minimum age in the Dataframe who is the youngest driver

In [13]:
df[df.Age==df.Age.min()]

    Driver  Points  Age
17  Stroll       6   20