In [2]:
import pandas as pd

### ways to do get the rows as a list from given dataframe.

In [49]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'], 
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'], 
                    'Cost':[10000, 5000, 15000, 2000]}) 
df

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3  13/2/2011   Comedy   2000

### way 1 -->basic method

In [54]:
li=[]
for i in range(len(df)):
    li.append([df.loc[i,'Date'],df.loc[i,'Event'],df.loc[i,'Cost']])  
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/2011', 'Comedy', 2000]]

In [ ]:
[df.loc[0, :]]====>[df.loc[i,'Date'],df.loc[i,'Event'],df.loc[i,'Cost'] #both are equivalent

In [70]:
li1=[]
for i in range(len(df)):
    li1.append(list([df.loc[i, :]]))
li1

[[Date     10/2/2011
  Event        Music
  Cost         10000
  Name: 0, dtype: object],
 [Date     11/2/2011
  Event       Poetry
  Cost          5000
  Name: 1, dtype: object],
 [Date     12/2/2011
  Event      Theatre
  Cost         15000
  Name: 2, dtype: object],
 [Date     13/2/2011
  Event       Comedy
  Cost          2000
  Name: 3, dtype: object]]

In [31]:
df

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3  13/2/2011   Comedy   2000

In [ ]:
loc[]/at[]
iloc[]/iat[]

In [30]:
df.loc[0,'Event'] #df.at[0,'Event'] #df.loc[0].at['Event']

'Music'

In [32]:
df.at[0,'Event']

'Music'

In [34]:
df.loc[0].at['Event']

'Music'

In [39]:
df.iloc[1,2] #df.iat[1,2] #df.iloc[1].iat[2]

5000

In [40]:
df.iat[1,2]

5000

In [41]:
df.iloc[1].iat[2]

5000

### way2==> using iloc[]

In [59]:
df.iloc[:,0]

0    10/2/2011
1    11/2/2011
2    12/2/2011
3    13/2/2011
Name: Date, dtype: object

In [68]:
li=[]
for i in range(len(df)):
    li.append( list(df.iloc[i,:]))
print(li)

[['10/2/2011', 'Music', 10000], ['11/2/2011', 'Poetry', 5000], ['12/2/2011', 'Theatre', 15000], ['13/2/2011', 'Comedy', 2000]]

### Using iat[] method

In [62]:
li=[]
for i in range(len(df)):
    li.append(df.iat[i,:])
li

ValueError: iAt based indexing can only have integer indexers

In [66]:
li=[]
for i in range(df.shape[0]):
    li1=[]
    for j in range(df.shape[1]):
        li1.append(df.iat[i,j])
    li.append(li1)    
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/2011', 'Comedy', 2000]]

In [67]:
li=[]
for i in range(df.shape[0]):
    li1=[]
    for j in range(df.shape[1]):
        li1.append(df.iloc[i,j])
    li.append(li1)    
li

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/2011', 'Comedy', 2000]]