##### Here we can see after providing an index to the dataframe explicitly, it has filled all data with NaN values since we have created this dataframe using Series and Series has its own default indices(0,1,2) which is why when indices of both dataframe and Series do not match, we got all NaN values.

In [2]:

# Importing pandas library
import pandas as pd
# Creating dictionary of Series
dict1 = {'Auth_Name': pd.Series(['Jitender',
                      'Purnima', 'Arpit', 'Jyoti']),
    'Author_Book_No': pd.Series([210, 211, 114, 178]),
     'Age': pd.Series([21, 21, 24, 23])}
 
# Creating Dataframe
df = pd.DataFrame(dict1, index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])
# Printing dataframe
print(df)

     Auth_Name  Author_Book_No  Age
SNo1       NaN             NaN  NaN
SNo2       NaN             NaN  NaN
SNo3       NaN             NaN  NaN
SNo4       NaN             NaN  NaN

##### Here, we can rectify this problem by providing the same index values to every Series element.

In [3]:
import pandas as pd
# Creating dictionary of Series
dict1 = {'Auth_Name': pd.Series(['Jitender',
              'Purnima', 'Arpit', 'Jyoti'],
          index=['SNo1', 'SNo2', 'SNo3', 'SNo4']),
         'Author_Book_No': pd.Series([210, 211, 114, 178],
                   index=['SNo1', 'SNo2', 'SNo3', 'SNo4']),
         'Age': pd.Series([21, 21, 24, 23],
                index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])}
 
# Creating Dataframe
df = pd.DataFrame(dict1, index=['SNo1', 'SNo2', 'SNo3', 'SNo4'])
# Printing dataframe
print(df)

     Auth_Name  Author_Book_No  Age
SNo1  Jitender             210   21
SNo2   Purnima             211   21
SNo3     Arpit             114   24
SNo4     Jyoti             178   23