In [2]:
import pandas as pd

### creating 2 d list

In [6]:
li=[[rows+1 for columns in range(5)] for rows in range(5)]
li

[[1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3],
 [4, 4, 4, 4, 4],
 [5, 5, 5, 5, 5]]

In [15]:
lst=[[columns+rows for columns in range(5)] for rows in range(5)]
lst

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8]]

In [18]:
two_Dlist=[[(columns+1) for columns in range(5)] for rows in range(4)]   
two_Dlist

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

## Creating DF using 2d list

### way1---> pd.DataFrame()
pd.DataFrame(list_name,columns=['col1','col2'])
or
pd.DataFrame(data=list_name,columns=['col1','col2'])
or
pd.DataFrame(data=list_name,columns=['col1','col2'],dtype=None)

#### To create DataFrame from dict of narray/list, all the narray must be of same length.

In [59]:
DF=pd.DataFrame(two_Dlist,columns=['a','b','c','d','e'])
DF

   a  b  c  d  e
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5

In [60]:
DF2=pd.DataFrame(data=two_Dlist,columns=['f','g','h','i','j'])
DF2

   f  g  h  i  j
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5

In [61]:
DF2=pd.DataFrame(data=two_Dlist,columns=['f','g','h','i','j'])
DF2.dtypes

f    int64
g    int64
h    int64
i    int64
j    int64
dtype: object

In [62]:
Df3=pd.DataFrame(data=two_Dlist,columns=['f','g','h','i','j'],dtype='str')
Df3.dtypes

f    object
g    object
h    object
i    object
j    object
dtype: object

In [64]:
df4=pd.DataFrame(data=two_Dlist,columns=['f','g','h','i','j'],dtype='str',index=['01','02','03','04'])
df4

    f  g  h  i  j
01  1  2  3  4  5
02  1  2  3  4  5
03  1  2  3  4  5
04  1  2  3  4  5

### way2-->pd.DataFrame.from_records(data,columns=None)

pd.DataFrame.from_records(data,columns=None)

Convert structured or record ndarray to DataFrame.

Creates a DataFrame object from a structured ndarray, sequence of
tuples or dicts, or DataFrame.

In [8]:
pd.DataFrame.from_records?

Signature:
pd.DataFrame.from_records(
    data,
    index=None,
    exclude=None,
    columns=None,
    coerce_float: 'bool' = False,
    nrows: 'int | None' = None,
) -> 'DataFrame'
Docstring:
Convert structured or record ndarray to DataFrame.

Creates a DataFrame object from a structured ndarray, sequence of
tuples or dicts, or DataFrame.

Parameters
----------
data : structured ndarray, sequence of tuples or dicts, or DataFrame
    Structured input data.

    .. deprecated:: 2.1.0
        Passing a DataFrame is deprecated.
index : str, list of fields, array-like
    Field of array to use as the index, alternately a specific set of
    input labels to use.
exclude : sequence, default None
    Columns or fields to exclude.
columns : sequence, default None
    Column names to use. If the passed data do not have names
    associated with them, this argument provides names for the
    columns. Otherwise this argument indicates the order of the columns
    in the result (any names not found in the data will become all-NA
    columns).
coerce_float : bool, default False
    Attempt to convert values of non-string, non-numeric objects (like
    decimal.Decimal) to floating point, useful for SQL result sets.
nrows : int, default None
    Number of rows to read if data is an iterator.

Returns
-------
DataFrame

See Also
--------
DataFrame.from_dict : DataFrame from dict of array-like or dicts.
DataFrame : DataFrame object creation using constructor.

Examples
--------
Data can be provided as a structured ndarray:

>>> data = np.array([(3, 'a'), (2, 'b'), (1, 'c'), (0, 'd')],
...                 dtype=[('col_1', 'i4'), ('col_2', 'U1')])
>>> pd.DataFrame.from_records(data)
   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

Data can be provided as a list of dicts:

>>> data = [{'col_1': 3, 'col_2': 'a'},
...         {'col_1': 2, 'col_2': 'b'},
...         {'col_1': 1, 'col_2': 'c'},
...         {'col_1': 0, 'col_2': 'd'}]
>>> pd.DataFrame.from_records(data)
   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

Data can be provided as a list of tuples with corresponding columns:

>>> data = [(3, 'a'), (2, 'b'), (1, 'c'), (0, 'd')]
>>> pd.DataFrame.from_records(data, columns=['col_1', 'col_2'])
   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d
File:      c:\users\soumy\appdata\local\programs\python\python312\lib\site-packages\pandas\core\frame.py
Type:      method

In [9]:
li

[[1, 1, 1, 1, 1],
 [2, 2, 2, 2, 2],
 [3, 3, 3, 3, 3],
 [4, 4, 4, 4, 4],
 [5, 5, 5, 5, 5]]

In [10]:
df1=pd.DataFrame.from_records(data=li)
df1

   0  1  2  3  4
0  1  1  1  1  1
1  2  2  2  2  2
2  3  3  3  3  3
3  4  4  4  4  4
4  5  5  5  5  5

In [12]:
df1=pd.DataFrame.from_records(data=li,columns=['one','two','three','four','five'],index=['a','b','c','d','e'])
df1

   one  two  three  four  five
a    1    1      1     1     1
b    2    2      2     2     2
c    3    3      3     3     3
d    4    4      4     4     4
e    5    5      5     5     5

In [13]:
df1.dtypes

one      int64
two      int64
three    int64
four     int64
five     int64
dtype: object

##### we cannot provide DT while creatinf DF from from_records

In [14]:
df1=pd.DataFrame.from_records(data=li,columns=['one','two','three','four','five'],index=['a','b','c','d','e'],dtype='str')
df1

TypeError: DataFrame.from_records() got an unexpected keyword argument 'dtype'

In [12]:
DF3=pd.DataFrame.from_records(DF2)
DF3

C:\Users\soumy\AppData\Local\Temp\ipykernel_4736\1748476276.py:1: FutureWarning: Passing a DataFrame to DataFrame.from_records is deprecated. Use set_index and/or drop to modify the DataFrame instead.
  DF3=pd.DataFrame.from_records(DF2)

   f  g  h  i  j
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5

In [71]:
column=['first','sec','third','fourth','five']

In [72]:
DF4=pd.DataFrame.from_records(data=two_Dlist,columns=column)
DF4

   first  sec  third  fourth  five
0      1    2      3       4     5
1      1    2      3       4     5
2      1    2      3       4     5
3      1    2      3       4     5

### way3

### pd.DataFrame.from_dict()

pd.DataFrame.from_dict(
    data: 'dict',
    orient: 'FromDictOrient' = 'columns',
    dtype: 'Dtype | None' = None,
    columns: 'Axes | None' = None,
) -> 'DataFrame'
Construct DataFrame from dictionary.

In [19]:
my_dic={'name':['soumya','shrishti','vihan'],
        'age': [23,18,14],
        'EDU':['College','School','School']
       }

In [21]:
df=pd.DataFrame.from_dict(my_dic)
df

       name  age      EDU
0    soumya   23  College
1  shrishti   18   School
2     vihan   14   School

In [22]:
df.dtypes

name    object
age      int64
EDU     object
dtype: object

In [25]:
df1=pd.DataFrame.from_dict(my_dic,dtype='str')
df1.dtypes

name    object
age     object
EDU     object
dtype: object

In [36]:
df1

       name age      EDU
0    soumya  23  College
1  shrishti  18   School
2     vihan  14   School

#### converting list to dict and then using from_dict and passing dict to create a dF object

#### zip(iterator1,iterator2,..)

In [16]:
i=['a','b','c','d','e']

In [27]:
dict(zip(i,lst))

{'a': [0, 1, 2, 3, 4],
 'b': [1, 2, 3, 4, 5],
 'c': [2, 3, 4, 5, 6],
 'd': [3, 4, 5, 6, 7],
 'e': [4, 5, 6, 7, 8]}

In [28]:
cb=[1,2,3,4]

In [29]:
bh=('a','b','c')

In [30]:
bn={2.3,4.5,6.7,8.9}

In [31]:
cv=zip(bh,bn,cb)
vg=list(cv)
vg

[('a', 8.9, 1), ('b', 2.3, 2), ('c', 4.5, 3)]

In [32]:
type(vg[0])

tuple

In [33]:
df2=pd.DataFrame.from_dict(dict(zip(i,lst)))
df2

   a  b  c  d  e
0  0  1  2  3  4
1  1  2  3  4  5
2  2  3  4  5  6
3  3  4  5  6  7
4  4  5  6  7  8

In [37]:
two_Dlist

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [38]:
column=['first','sec','third','four','five']

In [42]:
dict(zip(column,two_Dlist))

{'first': [1, 2, 3, 4, 5],
 'sec': [1, 2, 3, 4, 5],
 'third': [1, 2, 3, 4, 5],
 'four': [1, 2, 3, 4, 5]}

In [44]:
df=pd.DataFrame.from_dict(dict(zip(column,two_Dlist)))
df

   first  sec  third  four
0      1    1      1     1
1      2    2      2     2
2      3    3      3     3
3      4    4      4     4
4      5    5      5     5

In [26]:
two_Dlist

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [46]:
tuple(zip(*two_Dlist))

((1, 1, 1, 1), (2, 2, 2, 2), (3, 3, 3, 3), (4, 4, 4, 4), (5, 5, 5, 5))

In [47]:
df=pd.DataFrame.from_dict(dict(zip(column,zip(*two_Dlist))))
df

   first  sec  third  four  five
0      1    2      3     4     5
1      1    2      3     4     5
2      1    2      3     4     5
3      1    2      3     4     5

In [68]:
arr = ['sunday', 'monday', 'tuesday', 'wednesday']
print(*arr)
# without using asterisk
#print(' '.join(map(str,arr))) 
 
# using asterisk
#print (*arr)

sunday monday tuesday wednesday

In [34]:

# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
 
# list of int
lst2 = [11, 22, 33, 44, 55, 66, 77]
 
# Calling DataFrame constructor after zipping
# both lists, with columns specified
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['Name', 'val'])
print(df)

     Name  val
0   Geeks   11
1     For   22
2   Geeks   33
3      is   44
4  portal   55
5     for   66
6   Geeks   77

#### df.replace()

In [45]:

import pandas as pd
import numpy as np
 
# Creating a DataFrame with missing values from a list of lists
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', None, 'Data Scientist'],
        ['Geek3', 32, None]]
 
columns = ['Name', 'Age', 'Occupation']
 
df = pd.DataFrame(data, columns=columns)
df = df.replace({None:np.nan})  
print(df)

    Name   Age      Occupation
0  Geek1  28.0        Engineer
1  Geek2   NaN  Data Scientist
2  Geek3  32.0             NaN

#### pd.to_numeric()

In [122]:
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', 25, 'Data Scientist'],
        ['Geek3', '32', 'Manager']]  # Age represented as a string
 
columns = ['Name', 'Age', 'Occupation']
 
df = pd.DataFrame(data, columns=columns)
#df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # Convert 'Age' column to numeric, handling errors
print(df)

    Name Age      Occupation
0  Geek1  28        Engineer
1  Geek2  25  Data Scientist
2  Geek3  32         Manager

In [123]:
df.dtypes

Name          object
Age           object
Occupation    object
dtype: object

In [124]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # Convert 'Age' column to numeric, handling errors
print(df)

    Name  Age      Occupation
0  Geek1   28        Engineer
1  Geek2   25  Data Scientist
2  Geek3   32         Manager

In [125]:
df.dtypes

Name          object
Age            int64
Occupation    object
dtype: object

In [117]:
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', 25, 'Data Scientist'],
        ['Geek3', 'mine', 'Manager']]  # Age represented as a string
 
columns = ['Name', 'Age', 'Occupation']
 
df = pd.DataFrame(data, columns=columns)
#df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # Convert 'Age' column to numeric, handling errors
print(df)

    Name   Age      Occupation
0  Geek1    28        Engineer
1  Geek2    25  Data Scientist
2  Geek3  mine         Manager

In [118]:
df.dtypes

Name          object
Age           object
Occupation    object
dtype: object

In [119]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # Convert 'Age' column to numeric, handling errors
print(df)

    Name   Age      Occupation
0  Geek1  28.0        Engineer
1  Geek2  25.0  Data Scientist
2  Geek3   NaN         Manager

In [120]:
df.dtypes

Name           object
Age           float64
Occupation     object
dtype: object

#### df.columns

In [63]:
# initialize list of lists 
data = [[1, 5, 10], [2, 6, 9], [3, 7, 8]] 
 
# Create the pandas DataFrame 
df = pd.DataFrame(data)
 
# specifying column names
df.columns = ['Col_1', 'Col_2', 'Col_3']
 
# print dataframe. 
print(df)
 
# transpose of dataframe
df = df.transpose()
print("Transpose of above dataframe is-\n", df)

   Col_1  Col_2  Col_3
0      1      5     10
1      2      6      9
2      3      7      8
Transpose of above dataframe is-
         0  1  2
Col_1   1  2  3
Col_2   5  6  7
Col_3  10  9  8

In [59]:
df.columns.values

array(['Col_1', 'Col_2', 'Col_3'], dtype=object)

In [61]:
df.columns

Index(['Col_1', 'Col_2', 'Col_3'], dtype='object')

### Create a Pandas DataFrame from List of Dicts

In [126]:

import pandas as pd 
   
# Initialise data to lists. 
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}] 
 
df = pd.DataFrame.from_records(data,index=['1', '2'])
print(df)

       Geeks    For geeks
1  dataframe  using  list
2         10     20    30

##### json_normalize()===>faltten semi-structred json to table/dict or list of dict's to df

In [127]:
 data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}] 
 
df=pd.json_normalize(data)
print(df)

       Geeks    For geeks
0  dataframe  using  list
1         10     20    30

#### if data is dict of list lists must be of same lenth

In [135]:
li=[[1,2,3,4],[3,4,5]]
df=pd.DataFrame(data={'a':[1,2,3,4],'b':[3,4,5]},index=['a','b'])
df

ValueError: Length of values (4) does not match length of index (2)

### Convert list of nested dictionary into Pandas dataframe

In [136]:
countries = {
    "1": {"Country": "New Country 1",
          "Capital": "New Capital 1",
          "Population": "123,456,789"},
    "2": {"Country": "New Country 2",
          "Capital": "New Capital 2",
          "Population": "987,654,321"},
    "3": {"Country": "New Country 3",
          "Capital": "New Capital 3",
          "Population": "111,222,333"}
}
 
df = pd.DataFrame.from_dict(countries)
print(df)

                        1              2              3
Country     New Country 1  New Country 2  New Country 3
Capital     New Capital 1  New Capital 2  New Capital 3
Population    123,456,789    987,654,321    111,222,333

In [137]:
 df = pd.DataFrame.from_dict(countries, orient='index')
print(df)

         Country        Capital   Population
1  New Country 1  New Capital 1  123,456,789
2  New Country 2  New Capital 2  987,654,321
3  New Country 3  New Capital 3  111,222,333