In [4]:
import pandas as pd

In [3]:
df=pd.read_csv('../DataSetGFG/nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [7]:
df.Name.str.upper()

0      AVERY BRADLEY
1        JAE CROWDER
2       JOHN HOLLAND
3        R.J. HUNTER
4      JONAS JEREBKO
           ...
453     SHELVIN MACK
454        RAUL NETO
455     TIBOR PLEISS
456      JEFF WITHEY
457              NaN
Name: Name, Length: 458, dtype: object