In [2]:
import pandas as pd 
  
   
# creating a dataframe 
df = pd.DataFrame({'A': ['john', 'bODAY', 'minA', 'Peter', 'nicky'], 
                  'B': ['masters', 'graduate', 'graduate', 
                                   'Masters', 'Graduate'], 
                  'C': [27, 23, 21, 23, 24]}) 
   
df

       A         B   C
0   john   masters  27
1  bODAY  graduate  23
2   minA  graduate  21
3  Peter   Masters  23
4  nicky  Graduate  24

In [4]:
df.A.str.title()

0     John
1    Boday
2     Mina
3    Peter
4    Nicky
Name: A, dtype: object

In [5]:
df.A.str.capitalize()

0     John
1    Boday
2     Mina
3    Peter
4    Nicky
Name: A, dtype: object

In [6]:
df.A.apply(lambda x:x.capitalize())

0     John
1    Boday
2     Mina
3    Peter
4    Nicky
Name: A, dtype: object