### Change column type into string object using DataFrame.astype()

In [2]:
 
# importing pandas as pd
import pandas as pd
 
# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '1.0', '1.3', 2, 5]})
df

   A  B    C
0  1  a  1.1
1  2  b  1.0
2  3  c  1.3
3  4  d    2
4  5  e    5

In [3]:
df.dtypes

A     int64
B    object
C    object
dtype: object

In [6]:
df=df.astype(str)

In [7]:
df.dtypes

A    object
B    object
C    object
dtype: object

### Change column type in pandas using dictionary and DataFrame.astype()

In [8]:

# importing pandas as pd
import pandas as pd
 
# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '1.0', '1.3', 2, 5]})
 
# using dictionary to convert specific columns
convert_dict = {'A': int,
                'C': float
                }
df

   A  B    C
0  1  a  1.1
1  2  b  1.0
2  3  c  1.3
3  4  d    2
4  5  e    5

In [10]:
df.dtypes

A     int64
B    object
C    object
dtype: object

In [11]:
df=df.astype(convert_dict)

In [12]:
df.dtypes

A      int32
B     object
C    float64
dtype: object

### Change column type in pandas using DataFrame.apply()

In [13]:

# importing pandas as pd
import pandas as pd
 
# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, '4', '5'],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '2.1', 3.0, '4.1', '5.1']})
df

   A  B    C
0  1  a  1.1
1  2  b  2.1
2  3  c  3.0
3  4  d  4.1
4  5  e  5.1

In [14]:
df.dtypes

A    object
B    object
C    object
dtype: object

In [15]:
df[['A','C']]=df[['A','C']].apply(pd.to_numeric)

In [16]:
df.dtypes

A      int64
B     object
C    float64
dtype: object

### Change column type in pandas using DataFrame.map()

In [17]:
df = pd.DataFrame({
    'A': [1, 2, 3, '4', '5'],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '2.1', 3.0, '4.1', '5.1']})
df

   A  B    C
0  1  a  1.1
1  2  b  2.1
2  3  c  3.0
3  4  d  4.1
4  5  e  5.1

In [18]:
df.dtypes

A    object
B    object
C    object
dtype: object

In [20]:
df[['A','C']]=df[['A','C']].map(pd.to_numeric)

In [21]:
df.dtypes

A      int64
B     object
C    float64
dtype: object

### Change column type in pandas using DataFrame.infer_objects()

In [23]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, 2.1, 3.0, 4.1, 5.1]
}, dtype='object')
df.dtypes

A    object
B    object
C    object
dtype: object

In [24]:
df.infer_objects().dtypes

A      int64
B     object
C    float64
dtype: object

### Change column type in pandas using convert_dtypes()

In [25]:
data = {
  "name": ["Aman", "Hardik", pd.NA],
  "qualified": [True, False, pd.NA]
}
 
df = pd.DataFrame(data)
 
print("Original_dtypes:")
print(df.dtypes)

Original_dtypes:
name         object
qualified    object
dtype: object

In [26]:
df.convert_dtypes().dtypes

name         string[python]
qualified           boolean
dtype: object

In [27]:
data = {
  "name": ["Aman", "Hardik", pd.NA],
  "qualified": [True, False, pd.NA]
}
 
df = pd.DataFrame(data)
 
print("Original_dtypes:")
print(df.dtypes)

Original_dtypes:
name         object
qualified    object
dtype: object

In [28]:
df.infer_objects().dtypes

name         object
qualified    object
dtype: object