In [2]:
  
# importing pandas as pd 
import pandas as pd 
  
# sample dataframe 
df = pd.DataFrame({'A': ['foo', 'bar', 'g2g', 'g2g', 'g2g', 
                         'bar', 'bar', 'foo', 'bar'], 
                  'B': ['a', 'b', 'a', 'b', 'b', 'b', 'a', 'a', 'b'] }) 
df

     A  B
0  foo  a
1  bar  b
2  g2g  a
3  g2g  b
4  g2g  b
5  bar  b
6  bar  a
7  foo  a
8  bar  b

## df.value_counts()

In [4]:
df['A'].value_counts()

A
bar    4
g2g    3
foo    2
Name: count, dtype: int64

### groupby().size()

In [6]:
df.groupby(['A','B']).size()

A    B
bar  a    1
     b    3
foo  a    2
g2g  a    1
     b    2
dtype: int64

### aggregation function-->groupby().count()

In [8]:
df.groupby('A').count()

     B
A
bar  4
foo  2
g2g  3