In [3]:
import pandas as pd

In [4]:
data=pd.read_csv('../DataSetGFG/nba.csv')
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

### Using columns attribute with dataframe object

In [7]:
data.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

### Using keys() function

In [11]:
data.keys()

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

### column.values method returns an array of index.

In [8]:
data.columns.values

array(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'], dtype=object)

### Using tolist() method with values with given the list of columns.

In [13]:
data.columns.values.tolist()

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

### Simply iterating over columns

In [9]:
li=[]
for i in data.columns.values:
    li.append(i)
li

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

In [10]:
li=[]
for i in data.columns:
    li.append(i)
li

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

### Using sorted() method : sorted() method will return the list of columns sorted in alphabetical order.

In [14]:
sorted(data)

['Age',
 'College',
 'Height',
 'Name',
 'Number',
 'Position',
 'Salary',
 'Team',
 'Weight']

In [15]:
sorted(data,reverse=True)

['Weight',
 'Team',
 'Salary',
 'Position',
 'Number',
 'Name',
 'Height',
 'College',
 'Age']