In [2]:
import pandas as pd
 
# Create the dataframe
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':['Umbrella', 'Mattress', 'Badminton', 'Shuttle'],
                   'Last_Price':[1200, 1500, 1600, 352],
                   'Updated_Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 10, 10, 10]})
 
# Create the indexes
df.index =['Item 1', 'Item 2', 'Item 3', 'Item 4']
df

             Date    Product  Last_Price  Updated_Price  Discount
Item 1  10/2/2011   Umbrella        1200           1250        10
Item 2  11/2/2011   Mattress        1500           1450        10
Item 3  12/2/2011  Badminton        1600           1550        10
Item 4  13/2/2011    Shuttle         352            400        10

### Now, we want to find out the index labels of all items whose ‘Updated_Price’ is greater than 1000.

In [6]:
df[df['Updated_Price']>1000].index.tolist()

['Item 1', 'Item 2', 'Item 3']

## Solution #2: We can use Pandas Dataframe.query() function to select all the rows which satisfies some condition over a given column.

In [11]:
df.query('Updated_Price>1000').index.tolist()

['Item 1', 'Item 2', 'Item 3']