In [2]:
import pandas as pd 
import numpy as np 
df = pd.DataFrame({'Geek_ID':['Geek1_id', 'Geek2_id', 'Geek3_id',  
                                         'Geek4_id', 'Geek5_id'], 
                'Geek_A': [1, 1, 3, 2, 4], 
                'Geek_B': [1, 2, 3, 4, 6], 
                'Geek_R': np.random.randn(5)}) 
df

    Geek_ID  Geek_A  Geek_B    Geek_R
0  Geek1_id       1       1 -0.247130
1  Geek2_id       1       2  0.365369
2  Geek3_id       3       3  1.230888
3  Geek4_id       2       4 -0.074622
4  Geek5_id       4       6 -0.085900

In [7]:
li=df['Geek_ID'].str.split('_').str[0]
li

0    Geek1
1    Geek2
2    Geek3
3    Geek4
4    Geek5
Name: Geek_ID, dtype: object

In [8]:
li.tolist()

['Geek1', 'Geek2', 'Geek3', 'Geek4', 'Geek5']

In [9]:
df['Geek_ID'].str.split('_').str[1].tolist()

['id', 'id', 'id', 'id', 'id']