In [2]:
import pandas as pd
import re

In [8]:
dict = {'movie_data':['The Godfather 1972 9.2', 
                    'Bird Box 2018 6.8', 
                    'Fight Club 1999 8.8'] } 
  
# Convert the dictionary to a dataframe 
df = pd.DataFrame(dict)
df

               movie_data
0  The Godfather 1972 9.2
1       Bird Box 2018 6.8
2     Fight Club 1999 8.8

In [11]:
#df['Name']=df.movie_data.str.extract(pat='(.*\s.*)')
df['Year']=df.movie_data.str.extract('(\d\d\d\d)',expand=True)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\soumy\AppData\Local\Temp\ipykernel_13420\2250969578.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['Year']=df.movie_data.str.extract('(\d\d\d\d)',expand=True)

In [12]:
df

               movie_data  Year
0  The Godfather 1972 9.2  1972
1       Bird Box 2018 6.8  2018
2     Fight Club 1999 8.8  1999

In [13]:
df['Rating']=df.movie_data.str.extract(pat='(\d\.\d)')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\soumy\AppData\Local\Temp\ipykernel_13420\3813289703.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['Rating']=df.movie_data.str.extract(pat='(\d\.\d)')

In [14]:
df

               movie_data  Year Rating
0  The Godfather 1972 9.2  1972    9.2
1       Bird Box 2018 6.8  2018    6.8
2     Fight Club 1999 8.8  1999    8.8

In [15]:
df['Name']=df.movie_data.str.extract(pat="([A-Z][a-z]*\s[A-Z][a-z]*\s)")

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\soumy\AppData\Local\Temp\ipykernel_13420\3756181666.py:1: SyntaxWarning: invalid escape sequence '\s'
  df['Name']=df.movie_data.str.extract(pat="([A-Z][a-z]*\s[A-Z][a-z]*\s)")

In [16]:
df

               movie_data  Year Rating            Name
0  The Godfather 1972 9.2  1972    9.2  The Godfather
1       Bird Box 2018 6.8  2018    6.8       Bird Box
2     Fight Club 1999 8.8  1999    8.8     Fight Club

In [19]:
df=df[['movie_data','Name','Year','Rating']]
df

               movie_data            Name  Year Rating
0  The Godfather 1972 9.2  The Godfather   1972    9.2
1       Bird Box 2018 6.8       Bird Box   2018    6.8
2     Fight Club 1999 8.8     Fight Club   1999    8.8

In [20]:
df

               movie_data            Name  Year Rating
0  The Godfather 1972 9.2  The Godfather   1972    9.2
1       Bird Box 2018 6.8       Bird Box   2018    6.8
2     Fight Club 1999 8.8     Fight Club   1999    8.8