In [2]:
import pandas as pd

In [3]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [4]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [5]:
orders

   id  customerId
0   1           3
1   2           1

In [ ]:
Write a solution to find all customers who never order anything.

Return the result table in any order.

In [6]:
df=customers.merge(orders,left_on='id',right_on='customerId',how='outer')
df=df[df['customerId'].isnull()][['name']]
df.rename({'name':'Customers'},axis=1)

  Customers
1     Henry
3       Max