In [2]:
import pandas as pd

In [3]:
customers=pd.DataFrame({'id':[1,2,3,4],'name':['Joe','Henry','Sam','Max']})
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [4]:
orders=pd.DataFrame({'id':[1,2],'customerId':[3,1]})
orders

   id  customerId
0   1           3
1   2           1

In [5]:
df=customers.merge(orders,left_on='id',right_on='customerId',how='outer')
df=df[df['customerId'].isnull()][['name']]
df.rename({'name':'Customers'},axis=1)

  Customers
1     Henry
3       Max