In [2]:
import pandas as pd

##### Input:
student_data:
[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
Output:
+------------+-----+
| student_id | age |
+------------+-----+
| 1          | 15  |
| 2          | 11  |
| 3          | 11  |
| 4          | 20  |
+------------+-----+

In [3]:
student_data=[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]

In [4]:
pd.DataFrame(student_data,columns=['student_id','age'])

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20