In [2]:
import pandas as pd

In [31]:
df=pd.read_csv('../DataSetGFG/nba.csv',index_col ="Name")
df.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

#### accessing single row

In [32]:
df.loc['Avery Bradley']

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

### acccessing multiple rows

In [34]:
df.loc[['Avery Bradley','John Holland']]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [42]:
data = pd.read_csv("../DataSetGFG/nba.csv", index_col ="Team") 
data.loc["Utah Jazz"]

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Utah Jazz,Trevor Booker,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
Utah Jazz,Trey Burke,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
Utah Jazz,Alec Burks,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
Utah Jazz,Dante Exum,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
Utah Jazz,Derrick Favors,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
Utah Jazz,Rudy Gobert,27.0,C,23.0,7-1,245.0,NaN,1175880.0
Utah Jazz,Gordon Hayward,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
Utah Jazz,Rodney Hood,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
Utah Jazz,Joe Ingles,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
Utah Jazz,Chris Johnson,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
Utah Jazz,Trey Lyles,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Utah Jazz,Shelvin Mack,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Utah Jazz,Raul Neto,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Utah Jazz,Tibor Pleiss,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Utah Jazz,Jeff Withey,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [44]:
data = pd.read_csv("../DataSetGFG/nba.csv", index_col ="Name") 
  
# retrieving rows by loc method 
data.loc["Avery Bradley":"Isaiah Thomas"]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0