In [4]:
import pandas as pd

In [5]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [6]:
tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [ ]:
Write a solution to find the IDs of the invalid tweets. 
The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

In [7]:
tweets.loc[tweets['content'].str.len()>15,['tweet_id']]

   tweet_id
1         2