In [2]:
import pandas as pd

In [3]:
data = [[2, 'Meir', 3000], [3, 'Michael', 3800], [7, 'Addilyn', 7400], [8, 'Juan', 6100], [9, 'Kannon', 7700]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})

In [4]:
employees

   employee_id     name  salary
0            2     Meir    3000
1            3  Michael    3800
2            7  Addilyn    7400
3            8     Juan    6100
4            9   Kannon    7700

In [ ]:
Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.

Return the result table ordered by employee_id.

In [5]:
df=employees[(employees['employee_id']%2!=0) & ~(employees['name'].str.contains('^M'))].assign(bonus=lambda x:x['salary'])
employees['bonus']=df['bonus']
employees.fillna(0)[['employee_id','bonus']].sort_values(by='employee_id')

   employee_id   bonus
0            2     0.0
1            3     0.0
2            7  7400.0
3            8     0.0
4            9  7700.0