In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('../DataSetGFG/nba.csv')
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

##### series of names from df

In [6]:
ser=pd.Series(data=df['Name'])
ser.head()

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

#### Get the first element of series

In [8]:
ser[0]

'Avery Bradley'

#### Access multiple elements by providing position of item

In [9]:
ser[[0,1,2,3]]

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
Name: Name, dtype: object

#### Access first 5 elements in Series

In [10]:
ser[:5]

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

#### Get last 10 elements in Series

In [11]:
ser.tail(10)

448    Gordon Hayward
449       Rodney Hood
450        Joe Ingles
451     Chris Johnson
452        Trey Lyles
453      Shelvin Mack
454         Raul Neto
455      Tibor Pleiss
456       Jeff Withey
457               NaN
Name: Name, dtype: object

In [12]:
ser[-10:]

448    Gordon Hayward
449       Rodney Hood
450        Joe Ingles
451     Chris Johnson
452        Trey Lyles
453      Shelvin Mack
454         Raul Neto
455      Tibor Pleiss
456       Jeff Withey
457               NaN
Name: Name, dtype: object

#### Access multiple elements by providing label of index

In [14]:
ser=pd.Series(data=[1,2,3,4,5],index=list('abcde'))
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
ser['a']

1

In [16]:
ser[['a','b','c','d','e']]

a    1
b    2
c    3
d    4
e    5
dtype: int64