In [2]:
import pandas as pd

#### reindex()--->change index/row name or column name/order

In [ ]:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html

In [6]:
df=pd.DataFrame([[1,2,3,4,5],[4,5,6,7,8],[7,8,9,10,12]],columns=['col1','col2','col3','col4','col5'],index=['row1','row2','row3'])
df

      col1  col2  col3  col4  col5
row1     1     2     3     4     5
row2     4     5     6     7     8
row3     7     8     9    10    12

#### giving new labels to column name, as there is no corresponding data ffor this coolummn name soo we will get NaN

#### A new object is produced unless the new index is equivalent to the current one and copy=False.

In [13]:
df.reindex(columns=['col11','col22','col33','col44','col55'])

      col11  col22  col33  col44  col55
row1    NaN    NaN    NaN    NaN    NaN
row2    NaN    NaN    NaN    NaN    NaN
row3    NaN    NaN    NaN    NaN    NaN

In [8]:
df

      col1  col2  col3  col4  col5
row1     1     2     3     4     5
row2     4     5     6     7     8
row3     7     8     9    10    12

#### filling missingg values using fill_value

In [12]:
df.reindex(columns=['col11','col22','col33','col44','col55'],fill_value=12)

      col11  col22  col33  col44  col55
row1     12     12     12     12     12
row2     12     12     12     12     12
row3     12     12     12     12     12

#### changing order of row index

In [10]:
df.reindex(index=['row3','row1','row2'])

      col1  col2  col3  col4  col5
row3     7     8     9    10    12
row1     1     2     3     4     5
row2     4     5     6     7     8