In [ ]:
DataFrame players:
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| player_id   | int    |
| name        | object |
| age         | int    |
| position    | object |
| ...         | ...    |
+-------------+--------+

Write a solution to calculate and display the number of rows and columns of players.

Return the result as an array:

[number of rows, number of columns]

In [4]:
import pandas as pd

In [6]:
players=pd.DataFrame({'player_id':[846,749,155,583,388,883,355,247,761,642],'name':['Mason','Riley','Bob','Isabella','Zachary','Ava','Violet','Thomas','Jack','Charlie'],
             'age':[21,30,28,32,24,23,18,27,33,36],'position':['Forward','Winger','Striker','Goalkeeper','Midfielder','Defender','Striker','Striker','Midfielder','Center-back'],
             })

In [7]:
players

   player_id      name  age     position
0        846     Mason   21      Forward
1        749     Riley   30       Winger
2        155       Bob   28      Striker
3        583  Isabella   32   Goalkeeper
4        388   Zachary   24   Midfielder
5        883       Ava   23     Defender
6        355    Violet   18      Striker
7        247    Thomas   27      Striker
8        761      Jack   33   Midfielder
9        642   Charlie   36  Center-back

In [8]:
list(players.shape)

[10, 4]